extends layout
block content
    // header is a block element not inline
    section
      #searchArea
        h1.bigHeader  car search
        if(photos)
         h3(style='color: grey; margin-left:23%; max-width: 400px;') found some photos for you below..
        if(nophotos)
         h3(style='color: grey; margin-left:23%; max-width: 400px;')=nophotos
        if(subtitle)
         h3(style='color: grey; margin-left:23%; max-width: 400px;')=subtitle  
        #formHolder
          form(action='/search/' method='post')
            br
            input.inputBox(type='text', name='registrationplate', placeholder='registration plate #')
            br
            br
            input.inputBox(type='text', name='stocknumber', placeholder='stock reference #')
            input.searchButton(type='submit', value='find pics!')
    if(photos)
        .imageContainer
        each photo in photos
          .imagediv
            img(src='#{photo}')
        #enquire
          p This car is available on Arnold Clark
            span(style='font-size: 20px; color: #4977B6;')
          a#enquireButton(href='http://www.arnoldclark.com/') visit Arnold Clark
